<?php
    $_code=$this->getMethodCode();
    $carrier = $this->getMethodInstance();
    $pickupData = $this->getQuote()->getPickupData();
    $_rate = $this->getRate();
    if(!isset($pickupData['store']))
    {
        $pickupData['store'] = -1;
    }
    if(!isset($pickupData['deliverydate']))
    {
        $pickupData['deliverydate'] = '';
    }
?>
<ul class="form-list" id="shipping_form_<?php echo $_rate->getCode() ?>" style="display:none;">
    <li>
        <label for="<?php echo $_code ?>_store" class="required"><em>*</em><?php echo $this->__("Delivery date:") ?></label>
        <span class="input-box">
            <input type='text' name='shipping_pickup[deliverydate]' class='required-entry input-text' value='<?php echo $pickupData['deliverydate']?>' />
        </span>
    </li>
</ul>
