

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('zipcodechecker')->__('Check Delivery') ?></h1>
</div>
<form action="" id="zipcodecheckerForm" method="post" class="scaffold-form">
<?php echo $this->getBlockHtml('formkey')?>
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('zipcodechecker')->__('Check Delivery') ?></h2>
        <p class="required"><?php echo Mage::helper('zipcodechecker')->__('* Required Fields') ?></p>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="zipcode" class="required"><em>*</em><?php echo Mage::helper('zipcodechecker')->__('Ziocode') ?></label>
                    <div class="input-box">
                        <input name="zipcode" id="zipcode" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('zipcodechecker')->__('Zipcode')) ?>" value="" class="input-text required-entry validate-zip-international" type="text" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
        <button id="zipcodecheckerButton" type="button" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('zipcodechecker')->__('Submit')) ?>" class="button"><span><span><?php echo Mage::helper('zipcodechecker')->__('Submit') ?></span></span></button>
    </div>
</form>
<div id="div-to-update"></div>

<script type="text/javascript">
//<![CDATA[

var Zipcodechecker = Class.create();
	Zipcodechecker.prototype = {
		initialize: function(ajaxCallUrl, divToUpdate, param) {
			this.url = ajaxCallUrl;
			this.div = divToUpdate;
			this.param = param;
			this.makeAjaxCall();
		},

		makeAjaxCall: function() {
			new Ajax.Request(this.url, {
				method:'POST',
				//datatype: 'json',				
				parameters: this.param,
				onSuccess: function(transport) {
					var response = transport.responseText.evalJSON();
					$(this.div).update(response.outputHtml);
				}.bind(this)
			});
		}
	};
	
	jQuery(document).ready(function() {
		jQuery("#zipcodecheckerButton" ).click(function() {
			jQuery("#zipcodecheckerButton").attr("disabled", true);
			var data = jQuery("#zipcodecheckerForm").serialize(); 
			new Zipcodechecker('<?php echo $this->getFormAction(); ?>', 'div-to-update', data);
			
			jQuery('#zipcodecheckerButton').removeAttr('disabled');
		});

	});
    var zipcodecheckerForm = new VarienForm('zipcodecheckerForm', true);
    
//]]>
</script>
